# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Executables
*.exe
*.out
*.app

# Auxiliary files
*.in
*.log

# Anjuta
aclocal.m4
autom4te.cache/
compile
config.h
config.guess
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
Makefile
missing
stamp-h*

.anjuta/
.anjuta*
.deps
Debug/
doxygen/
