# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Anjuta
aclocal.m4
autom4te.cache/
compile
config.h
config.guess
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
Makefile
missing
stamp-h*

.anjuta/
.anjuta*
.deps
Debug/
